{% extends 'Core/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-12 text-center">
    <h3 class="text-white my-5 bg-danger text-center">Faulters</h3>

    <table class="table table-striped table-light table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Vehicle Registration No.</th>
            </tr>
        </thead>
        <tbody class="tbody-light">
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
