{% extends 'Core/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-6 offset-3">
    <h3 class="text-white my-5 text-center text-weight-bold">Registration Form</h3>

    <form>
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <br>
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-at"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Useremail" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <br>
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-phone"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <br>
            <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-car"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Vehical Plate Number" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <br>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Agree to terms and conditions</label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Register Me</button>
        </div>
    </form>
</div>
{% endblock content %}
